<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="container">
        <nav>
            <figure>
                <img src="assets/logo3.jpg" alt="logo" srcset="" width="20%">
                <figcaption>brands logo</figcaption>
            </figure>
            <form action="" method="post">
                <input type="search" name="" placeholder="search product by category" id="">
                <button type="button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <div id="profile">
                <img src="/assets/sample.jpg" alt="" srcset="" width="20%"><i class="fas fa-bell fa-2x"></i>
                <!-- <div class="profset">
                    <div class="settings">
                        <!-- settings 
                    </div>
                    <div class="logout">
                        <!-- logout 
                    </div>
                </div> -->
            </div>
        </nav>
        <!-- content -->
        <aside class="aside">
            <!-- dashboard pages -->
            <header>
                <h3>Admin Dashboard</h3>
                <i class="fas fa-bars fa-2x"></i>
            </header><hr>
            <fieldset>
                <legend>PAGES</legend>
                <div class="create">
                    <h3>Create Blog</h3>
                    <ul type="none" class="hide">
                        <li><a href="#" id="allProducts">Blogs upload</a></li>
                        
                    </ul>
                </div>
                <div class="read">
                     <h3><a href="#" id="bg">Read Blog</a></h3> 
                     <!-- <ul>
                        <li><a href="#" id="bg">read blog</a></li>
                    </ul>
                </div> -->
                <div class="update">
                    <h3><a href="#" id="upd">Update Blog</a></h3>
                </div>
                <div class="delete">
                    <h3><a href="#" id="del">Delete Blog</a></h3>
                </div>
            </fieldset>
            <fieldset>
                <legend>VIEW PAGES</legend>
                <div class="products">
                    <h3>Blog Categories</h3>
                </div>
                <div class="electronics">
                    <h3>Entertainment Blog</h3>
                </div>
                <div class="wears">
                    <h3>Movies Blog</h3>
                </div>
                <div class="groceries">
                    <h3>Sport Blog</h3>
                </div>
            </fieldset>
            <fieldset>
                <legend>SETTINGS</legend>
                <div class="admin profile">
                    <h3>Admins profile</h3>
                    <ul type="none" display="hide">
                        <li><a href="#" id="pdtUp">sign in</a></li>   
                    </ul>
                   
                </div>
                <div class="settings">
                    <h3>Themes</h3>
                </div>
            </fieldset>
        </aside>
        <div class="viewpage">
            <!-- dashboard page view -->
            <div id="form">

            </div>
        </div>
        <footer class="foot">
            <div class="artisan">
                <i>Design With <i class="fas fa-heart fa-1.5x" style="color:red;">
                </i> of  Diamond by <a href="#" style="text-decoration: none;color:black;">CORRECTBOY</a></i>
            </div>
        </footer>
    </div>
    <!-- <div id="container">
        <nav>
            <figure>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
                <form>
                    <input type="">
                </form> -->
            </figure>
        </nav>
        <!-- <form action="/register" method="post">
            <input type="text" name="firstname" placeholder="enter firstname">
            <input type="email" name="email" placeholder="enter email">
            <input type="password" name="password" placeholder="enter password">
            <input type="submit" value="login">
        </form> -->

         
    </div>
       <script src="https://kit.fontawesome.com/da9f1955d4.js" crossorigin="anonymous"></script>  
    <script src="/third/jq.js"></script>
    <script src="/script/dash.js"></script>
</body>
</html>