<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="frombdy">
    <div class="fromreg">
        <img src="" alt="image logo">
        <nav>
            <li>Home</li>
        </nav>
         <button><a href="/login" id="btn_load">Sign in</a></button> 
        <!-- <button id="btn_load">register</button> -->
    </div>

 
</body>
</html>