<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/landingpage.css">
</head>
<body class="frombdy">
    <div class="fromreg">
        <img src="/assets/oneJ1.png" class="logo">
       
         <button><a href="/login" id="btn_load">Sign in</a></button> 
    </div>
    <div class="parent"> 
        <div>
            <h1 class="blog">Welcome to OneJosh Blog Website</h1>
            <button class="btn">WELCOME</button>
        </div>
      
        
    </div>
   
</body>
</html>