<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="login_body">
    <form method="post" id="form">
       <div class="login_container">
        <div class="sublogin">
            <h3 style="color: black; font-size: smaller; font-style: normal;">Login. First, create your account</h3>
            <div id="successmessage" style="color: green; font-weight: bold;"></div>
            <div id="errormessage" style="color: red; font-weight: bold;"></div>
            <br>
            <div>
                <label for="">Email</label><br>
                <input type="email" placeholder="name@email.com" name="email" id="email" class="login_mail">
                <p></p>
            </div>
            <br>
            <div>
                <label for="">Password</label><br>
                <input type="password" placeholder="enter your password" name="password" id="password" class="login_password">
                <p></p>
            </div>
            <br>
    
            <div>
                <button id="sub_btn" class="btn">SUBMIT</button>
            </div>
            <br>
            <div class="controls">
                <h4 style="font-size: smaller;">Not registered yet?</h4>
                <a href="/register" style="font-size: smaller;">create account</a>
            </div>
        </div>
       </div>
    </form> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <script src="/script/login.js"></script>  
</body>
</html>