<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="reg_body">
    <form action="/register" method="post">
        <div class="reg_container">
            <h3 style="color: black;">REGISTER</h3>
            <br>
            <div>
                <input type="text" placeholder="Enter your firstname" name="firstname" id="firstname" class="reg_firstname">
            </div>
            <br>
            <div>
                <input type="text" placeholder="Enter your lastname" name="lastname" id="lastname" class="reg_lastname">
            </div>
            <br>
            <div>
                <input type="email" placeholder="enter your email" name="email" id="email" class="reg_mail">
            </div>
            <br>
            <div>
                <input type="password" placeholder="enter your password" name="password" id="password" class="reg_password">
            </div>
            <br>
    
            <div>
                <input type="submit" placeholder="" value="submit" name="submit" id="submit" class="reg_submit">
            </div>
            <br>
            <div>
                <input type="reset" placeholder="" value="cancel" name="reset" id="reset" class="reg_reset">
            </div>
        </div>
    </form>
</body>
</html>