<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/updateblog.css">
</head>
<body>
    <div class="update_blog">
        <form data-id="<%= blog._id %>" action="/update" method="post" enctype="application/x-www-form-urlencoded" id="blog-update-form">
                
            <input type="hidden" name="id" value="<%= blog._id %>">
                    <div>
                        <input type="text" placeholder="Title" value="<%= blog.title %>" name="title" class="titleh">  
                    </div>
                    <br>
                    <div>
                        <textarea name="content"  rows="" cols="" placeholder="obj_id" class="text_cont">
                            <%= blog.content %>
                        </textarea>
                    </div>
                    <br>
                      <!-- <div class="imgupload">
                        <input type="file" name="uploader" id="uploader" placeholder="upload image file">
                    </div> 
                     -->
    
                    <br>
                    <div id="controls">
                        <input type="submit" name="update" id="update" value="Update" class="submit_btn">
                    
                        <input type="reset" placeholder="" name="reset" id="reset" value="reset" class="reset_btn">
                    </div>
         </form>
    </div>
 
</body>
</html>